extends layout

block content
  ul#nav
    li
      a(href="/") Index
    li
      a(href="/contact") Contact
    li
      a(href="/users") Users
  p Welcome to #{title}
  p The current date is: #{date}
  br
  p This is my first attempt at using express JS which is also my first atempt at using jade