body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
h1 {
  font-size: 24px;
  color: #281475; 
}
p {
  font-size: 14px;
}
ul, li {
  font-weight: 800;
}